<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6872d94-4288-43f9-b97f-4be2f970b424" Alias="Anonymous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Anonymous</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-09T17:14:02</CreateDate>
    <NodeName Default="Anonymous" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/siwjpzui/anonymous.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>