<?xml version="1.0" encoding="utf-8"?>
<Media Key="97cc8496-4aed-4309-8130-691408932ff0" Alias="Fuji" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fuji</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-01T10:50:12</CreateDate>
    <NodeName Default="Fuji" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sccmzf5n/fuji.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>