<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0a8d981-58ba-4f2d-80a4-9adea9487494" Alias="Gosai" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gosai</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-01T12:31:39</CreateDate>
    <NodeName Default="Gosai" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q5mlrif0/gosai.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>