<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4216612-640e-497a-8720-11adf735b063" Alias="Icon Acquis" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconAcquis</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-11-10T11:17:42</CreateDate>
    <NodeName Default="Icon Acquis" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/entcdnao/icon-acquis.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>