<?xml version="1.0" encoding="utf-8"?>
<Media Key="10471ad4-b91b-4164-adb5-7dfa0fdc94ff" Alias="Lake" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lake</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-31T20:22:17</CreateDate>
    <NodeName Default="Lake" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ineoea1/lake.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>