<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8723e2e-b2ce-46a4-a732-ad99b219f9b7" Alias="Lead" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lead</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T15:01:13</CreateDate>
    <NodeName Default="Lead" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fa5hfogo/lead.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>