<?xml version="1.0" encoding="utf-8"?>
<Media Key="991ccdc3-c286-453c-89c1-89bb376f2b77" Alias="Ocean" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ocean</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-01T11:24:36</CreateDate>
    <NodeName Default="Ocean" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yxgbzgmg/ocean.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>