<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0df7280-a414-4046-8535-04eb404a5731" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="66d7fa0e-adec-481a-a503-c50949fb055d">contentProperties</Composition>
      <Composition Key="13d33de2-5ebd-41e5-a727-42d71d164378">headerProperties</Composition>
      <Composition Key="2d9f8ff5-ac43-4faf-bbcc-19dce9a9a248">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a66f246-a107-4333-85bc-893dc4729866">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>