<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c07dcf40-8620-41ee-bde4-55c5f2a40f0e" Alias="block5" Level="4">
  <Info>
    <Name>Block5</Name>
    <Icon>icon-ethernet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Nested+Content/Perplex</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4b164951-ea89-4fe5-aa0f-2b063603d8d6</Key>
      <Name>FeaturedItems</Name>
      <Alias>featuredItems</Alias>
      <Definition>f1014aab-b021-4d57-802d-7a6985e5166d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="block5">Block5</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f13034a8-5600-4415-999e-5b0320929a19</Key>
      <Caption>Block5</Caption>
      <Alias>block5</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>