<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0393f19-c611-4165-8d63-e703a61df12c" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page with contact details for this website owner</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="66d7fa0e-adec-481a-a503-c50949fb055d">contentProperties</Composition>
      <Composition Key="32888e71-4ec4-49db-9fec-d09a8e997e92">footerProperties</Composition>
      <Composition Key="13d33de2-5ebd-41e5-a727-42d71d164378">headerProperties</Composition>
      <Composition Key="2d9f8ff5-ac43-4faf-bbcc-19dce9a9a248">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a786114-2252-4ff8-afad-af052a759cb2">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>25aad167-35d2-49be-b30f-df741c1357d6</Key>
      <Name>ContentBlocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>5c592713-4931-413d-b593-1f9860c70322</Definition>
      <Type>Perplex.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bf5505d2-8afa-4872-b664-7b4447154003</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>