<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49b2c949-9dc3-4224-bede-40f5226f0c6c" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="66d7fa0e-adec-481a-a503-c50949fb055d">contentProperties</Composition>
      <Composition Key="13d33de2-5ebd-41e5-a727-42d71d164378">headerProperties</Composition>
      <Composition Key="2d9f8ff5-ac43-4faf-bbcc-19dce9a9a248">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aca43fe3-64b9-4378-90ad-7f25443dd281">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b554bc1b-f0d6-4900-850a-3c580b2a7845" SortOrder="0">mostPopular</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>