<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6ecade1-81e8-4db5-82fb-505f4ecb8cac" Alias="example" Level="2">
  <Info>
    <Name>Example</Name>
    <Icon>icon-exit-fullscreen color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is for the test purpose.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="66d7fa0e-adec-481a-a503-c50949fb055d">contentProperties</Composition>
      <Composition Key="13d33de2-5ebd-41e5-a727-42d71d164378">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>Example</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9907cd3-1587-413c-969d-7821ffbcd980">Example</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aaf15f5a-c2db-4779-81c4-3f06471398bf</Key>
      <Name>BlockContent</Name>
      <Alias>blockContent</Alias>
      <Definition>5c592713-4931-413d-b593-1f9860c70322</Definition>
      <Type>Perplex.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>54615f5b-876c-415e-b6dc-c1b0d1f8d8d0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>