<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9249651f-7d42-4675-a0b6-ae8fde1a78bd" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="32888e71-4ec4-49db-9fec-d09a8e997e92">footerProperties</Composition>
      <Composition Key="13d33de2-5ebd-41e5-a727-42d71d164378">headerProperties</Composition>
      <Composition Key="229ae01a-5b99-4bdc-ab19-46729cde2026">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b86a7e81-2697-473a-a167-17e156fa2d62">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="49b2c949-9dc3-4224-bede-40f5226f0c6c" SortOrder="0">contentPage</ContentType>
    <ContentType Key="b0df7280-a414-4046-8535-04eb404a5731" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="b0393f19-c611-4165-8d63-e703a61df12c" SortOrder="2">contactPage</ContentType>
    <ContentType Key="f6ecade1-81e8-4db5-82fb-505f4ecb8cac" SortOrder="3">example</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>