<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="848c816e-8b9d-409a-a256-e22fc6933295" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="90eaf515-0e8b-4b8f-839c-af78b122585e">descriptionProperty</Composition>
      <Composition Key="024de507-714c-4c58-972e-93490c986b1e">imageProperty</Composition>
      <Composition Key="85c5becd-a64c-408f-b4bd-c95724ffa35f">linkProperty</Composition>
      <Composition Key="496d8723-fb9e-475e-9c45-75ec615cf724">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>