<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7d91dc6-0888-4215-b282-b70373a3e947" Alias="Block2" Level="2">
  <Info>
    <Name>Block2</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>BlockWork</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Block2",
      "ncAlias": "block2",
      "ncTabAlias": "Block2"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 1,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>