<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0181bd5-b586-4bdc-bef6-84ff470482f5" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "848c816e-8b9d-409a-a256-e22fc6933295",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != ''? title: 'Image Link ' + $index}} {{$settings.hide =='1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "ca6ee06f-b82a-482d-9228-f6ea469cc2c7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>