<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53d98641-ff2a-4239-95b2-fa3e3bdaeca7" Alias="Block3" Level="2">
  <Info>
    <Name>Block3</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>BlockWork</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Text Link Item",
      "ncAlias": "textLinkItem",
      "ncTabAlias": "TextLinkItem"
    },
    {
      "nameTemplate": "Block 3",
      "ncAlias": "block3",
      "ncTabAlias": "Block3"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 4,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>