<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1014aab-b021-4d57-802d-7a6985e5166d" Alias="Block5" Level="2">
  <Info>
    <Name>Block5</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>BlockWork</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "block5",
      "ncTabAlias": "Block5"
    },
    {
      "nameTemplate": "",
      "ncAlias": "fiveLinkItem",
      "ncTabAlias": "Five Link Item"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 5,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>