<?xml version="1.0" encoding="utf-8"?>
<DataType Key="199712be-eabb-405e-a027-ac770ed93f9a" Alias="Block4" Level="2">
  <Info>
    <Name>Block4</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>BlockWork</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "block4",
      "ncTabAlias": "Block3"
    },
    {
      "nameTemplate": "",
      "ncAlias": "textLinkItem",
      "ncTabAlias": "TextLinkItem"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 4,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>