<?xml version="1.0" encoding="utf-8"?>
<DataType Key="353e51cf-65c0-494a-a650-78627fa2a974" Alias="Block1" Level="2">
  <Info>
    <Name>Block1</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>BlockWork</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Block1",
      "ncAlias": "block1",
      "ncTabAlias": "Block1"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 1,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>