<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0c0c697-0983-488e-bb8d-8ac38f491bd4" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2fc2c7a7-a775-44bf-84ff-6e54331d4161",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != ''? title: 'Accordion Item' + $index}} {{$settings.hide =='1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "9f669811-ab0f-4746-a16e-71a2a2f09836",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>