<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9975ad2-51c7-463d-8e92-29927bfcf5c1" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9ac0d357-dcea-4b5d-96b7-c229cfc23ffc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Rich Text' + $index }} {{$settings.hide == '1' ? '[HIDDEN]': ''}}",
      "settingsElementTypeKey": "96465527-3cea-44a1-8304-5fb3b793a865",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "097832f4-3ad0-407b-9831-359717eaafef",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image' + $index }} {{$settings.hide == '1' ? '[HIDDEN]': ''}}",
      "settingsElementTypeKey": "84d87dd7-28a3-47e0-b1a1-e1cffa064b72",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "82045bfd-f8a6-4583-b40c-7f646defe397",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != ' ' ? title: 'Featured Items' + $index}} {{$settings.hide == '1' ? '[HIDDEN]': ' '}}",
      "settingsElementTypeKey": "5d9693d6-b352-4709-a078-8d6759a4ee15",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "062fa413-152b-4228-8112-eca2e8f8e1d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != ''? title: 'Accordion' + $index}} {{$settings.hide =='1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "23a4455e-cc4f-4851-9b45-6f9449664503",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9498c71b-087e-4527-868f-0ce36d7a2928",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": "6e77db25-4d28-4b51-bd4f-ceef581d13af",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>