<?xml version="1.0" encoding="utf-8"?>
<DataType Key="833dfef2-ea06-49e8-8b65-7202e5d3e99e" Alias="Content Block Hero" Level="2">
  <Info>
    <Name>Content Block Hero</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Perplex</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Element Hero",
      "ncAlias": "elementHero",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 1,
  "MinItems": 1,
  "ShowIcons": true
}]]></Config>
</DataType>