<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8c6c7f9-54e3-4b99-aa15-8cb103411d69" Alias="[MultiURLPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>