<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc83db50-ea9f-416f-9242-d5b0bee4da3e" Alias="[Nested] Navigation Item list" Level="1">
  <Info>
    <Name>[Nested] Navigation Item list</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>