<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c592713-4931-413d-b593-1f9860c70322" Alias="Perplex Content blocks" Level="2">
  <Info>
    <Name>Perplex Content blocks</Name>
    <EditorAlias>Perplex.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Perplex</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowBlocksWithoutHeader": true,
  "DisablePreview": false,
  "HideLabel": true,
  "HidePropertyGroupContainer": true,
  "Structure": 1,
  "Version": 3
}]]></Config>
</DataType>