<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcafd1f9-d1ad-4fb7-b9a7-943f821531a1" Alias="[Repeatable textstrings]Names" Level="1">
  <Info>
    <Name>[Repeatable textstrings]Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>