<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb9eab52-8e0c-4589-a0cf-01d11f5d1c1a" Alias="[RichTextEditor] Simple RTE" Level="1">
  <Info>
    <Name>[RichTextEditor] Simple RTE</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>