<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8a9ee1ab-27c4-46a4-b9d6-e4e167dec458" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright Saurab Shrestha</Translation>
  </Translations>
</Dictionary>