<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fa71497-93d8-487e-afc1-e3db87768ef9" Alias="About" Level="2">
  <Info>
    <Parent Key="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-01T10:51:17</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aca43fe3-64b9-4378-90ad-7f25443dd281">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5 justify-content-center">
<div class="col-md-10 col-lg-8 col-xl-7">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>This is a test, does it really work?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
</div>
</div>
</div>]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "38e15cb1-f30e-45f6-afee-ad4cb0cdc322",
    "mediaKey": "97cc8496-4aed-4309-8130-691408932ff0"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This will tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>