<?xml version="1.0" encoding="utf-8"?>
<Content Key="690b9abf-15ef-47e7-8bb0-c6f406fe7d77" Alias="Blog page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/BlogPage</Path>
    <Trashed Parent="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-02T15:23:00</CreateDate>
    <NodeName Default="Blog page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aca43fe3-64b9-4378-90ad-7f25443dd281">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "8d3acadf-db4f-4090-b1f0-bd8bbd9fb5cd",
    "mediaKey": "991ccdc3-c286-453c-89c1-89bb376f2b77"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Blog pagee]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Blog Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>