<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5ae4bef-17b3-4edf-9986-1e67c6b735a9" Alias="Blog" Level="2">
  <Info>
    <Parent Key="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-09-01T11:19:47</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a66f246-a107-4333-85bc-893dc4729866">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "02b501ce-698e-4aca-99fc-d639ad3f1ada",
    "mediaKey": "a0a8d981-58ba-4f2d-80a4-9adea9487494"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>