<?xml version="1.0" encoding="utf-8"?>
<Content Key="158add94-3daf-452a-9170-ddefc21c2f0b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-09-01T11:19:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a786114-2252-4ff8-afad-af052a759cb2">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>From here you can find me.</p>]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "84e383d9-250a-4db9-b125-9c355dac0a6b",
    "mediaKey": "991ccdc3-c286-453c-89c1-89bb376f2b77"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Contact here]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Contact page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>