<?xml version="1.0" encoding="utf-8"?>
<Content Key="158add94-3daf-452a-9170-ddefc21c2f0b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-09-01T11:19:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a786114-2252-4ff8-afad-af052a759cb2">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <contentBlocks>
      <Value><![CDATA[{
  "version": "3",
  "header": null,
  "blocks": [
    {
      "id": "3d255515-6012-4b84-8bab-91fc53c6d959",
      "definitionId": "9065a620-2035-431a-927e-121e84a73b51",
      "layoutId": "18f9d669-17ef-4f77-9480-65defedce7df",
      "presetId": null,
      "isDisabled": "False",
      "content": [
        {
          "key": "e49af53b-f0ed-4620-adee-5b30ab3aa0d1",
          "name": "Block5",
          "ncContentTypeAlias": "block5",
          "PropType": null,
          "featuredItems": [
            {
              "key": "fde4beb9-a311-4bae-aa36-f233c1f977ad",
              "name": "Five Link Item",
              "ncContentTypeAlias": "fiveLinkItem",
              "PropType": null,
              "number": "123",
              "description": "abc"
            },
            {
              "key": "d4a00eaa-d3b4-4886-be6f-4be9f106870f",
              "name": "Five Link Item",
              "ncContentTypeAlias": "fiveLinkItem",
              "PropType": null,
              "number": "2",
              "description": "abc"
            }
          ]
        }
      ],
      "variants": []
    }
  ]
}]]></Value>
    </contentBlocks>
    <footerSocialLinks>
      <Value><![CDATA[]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "80a7a775-e9ad-413e-b710-127e51f35865",
    "mediaKey": "b8723e2e-b2ce-46a4-a732-ad99b219f9b7"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This is subtitle]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[This is title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>