<?xml version="1.0" encoding="utf-8"?>
<Content Key="c75b58dc-2e42-4e38-aaef-cd9616d3704a" Alias="Example For Perplex Block" Level="2">
  <Info>
    <Parent Key="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">Home</Parent>
    <Path>/Home/ExampleForPerplexBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>example</ContentType>
    <CreateDate>2022-11-07T15:44:42</CreateDate>
    <NodeName Default="Example For Perplex Block" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f9907cd3-1587-413c-969d-7821ffbcd980">Example</Template>
  </Info>
  <Properties>
    <blockContent>
      <Value><![CDATA[{
  "version": "3",
  "header": {
    "id": "28bcc2e0-cd82-4a58-8c52-e572b72ef410",
    "definitionId": "0b1e782e-6633-4936-9eed-02d9e4f9846a",
    "layoutId": "0b1e782e-6633-4936-9eed-02d9e4f9846a",
    "presetId": null,
    "isDisabled": "False",
    "content": [
      {
        "key": "e72eab2c-59be-44b6-8d8a-06c2a93f56b0",
        "name": "Item 1",
        "ncContentTypeAlias": "exampleBlock",
        "PropType": null,
        "title": "<p>This is perplex block title from content.</p>",
        "text": "<p>This is perplex blck text from content.</p>"
      }
    ],
    "variants": []
  },
  "blocks": []
}]]></Value>
    </blockContent>
    <bodyText>
      <Value><![CDATA[<p>This is for Body Text.</p>]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "cc09cdf0-f290-4b33-87ca-d6b13cc9392b",
    "mediaKey": "991ccdc3-c286-453c-89c1-89bb376f2b77"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This is the subtitle. ]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[This is the title for perplex block. ]]></Value>
    </title>
  </Properties>
</Content>