<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-31T20:02:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b86a7e81-2697-473a-a167-17e156fa2d62">HomePage</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "8df4e84e-ba0b-458f-b968-3816837644e1",
    "mediaKey": "10471ad4-b91b-4164-adb5-7dfa0fdc94ff"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "1921382f-529a-4f0a-8a9f-339c93f8dadc",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/d3a0c7bf67ab4a50bd1eb4bba8fa6188"
      }
    ],
    "childLinks": null
  },
  {
    "key": "532c04cc-b115-4d0b-9bfa-67f947157057",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/1fa7149793d8487eafc1e3db87768ef9"
      }
    ],
    "childLinks": null
  },
  {
    "key": "f7367eb7-e4cc-4115-bcad-284f5dd179bc",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/a5ae4bef17b34edf99861e67c6b735a9",
        "queryString": "#testing1"
      },
      {
        "name": "Most popular",
        "url": "",
        "queryString": "#testing2"
      },
      {
        "name": "Latest Blog Posts",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "a97b243f-eb24-41f8-92f3-5b1590f0d084",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/158add943daf452a9170ddefc21c2f0b"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website for Saurab Shrestha]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Saurab's Site]]></Value>
    </title>
  </Properties>
</Content>