<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfac151c-5e0d-48bb-bc21-3671db49a0ba" Alias="Latest Blog Post" Level="3">
  <Info>
    <Parent Key="a5ae4bef-17b3-4edf-9986-1e67c6b735a9">Blog</Parent>
    <Path>/Home/Blog/LatestBlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>latestBlogPosts</ContentType>
    <CreateDate>2022-09-06T15:50:07</CreateDate>
    <NodeName Default="Latest Blog Post" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e8f55b0-d9e3-41ea-9171-125b78ca9c45">LatestBlogPosts</Template>
  </Info>
  <Properties>
    <block1>
      <Value><![CDATA[{
  "version": "3",
  "header": null,
  "blocks": [
    {
      "id": "0c4738f7-91e3-4c2a-bed6-31537d03ae57",
      "definitionId": "158add94-3daf-452a-9170-ddefc21c2f0b",
      "layoutId": "5c592713-4931-413d-b593-1f9860c70322",
      "presetId": null,
      "isDisabled": "False",
      "content": [
        {
          "key": "1c2af387-9c9d-4814-8376-f3b94234b082",
          "name": "Block1",
          "ncContentTypeAlias": "block1",
          "PropType": null,
          "subtitle": "<h1 class=\"text-display-2 color-gray-900\" style=\"text-align: center;\">Our Story</h1>",
          "maintitle": "<p style=\"text-align: center;\"><strong>We supply enterprises, organizations and institutes of high-</strong><br class=\"d-lg-block d-none\" /><strong>tech industries with modern components. We build long-</strong><br class=\"d-lg-block d-none\" /><strong>term trusting relationships with our customers and partnes</strong><br class=\"d-lg-block d-none\" /><strong>for further fruitful cooperations.</strong></p>",
          "titlevideo": [
            {
              "key": "39a24de7-e976-41b6-98a8-29a0cfe96634",
              "mediaKey": "b8723e2e-b2ce-46a4-a732-ad99b219f9b7"
            }
          ]
        }
      ],
      "variants": []
    },
    {
      "id": "473e27c6-1ba6-4306-aba3-7d3605609e07",
      "definitionId": "158add94-3daf-452a-9170-ddefc21c2f0b",
      "layoutId": "5c592713-4931-413d-b593-1f9860c70322",
      "presetId": null,
      "isDisabled": "False",
      "content": [
        {
          "key": "18a3d7e1-f2ce-46a0-a3a2-1d8563dfc0a2",
          "name": "Hero",
          "ncContentTypeAlias": "elementHero",
          "PropType": null,
          "image": [
            {
              "key": "8887af86-9183-4362-b35c-661a76b74013",
              "mediaKey": "eb5f08a7-f6a4-454d-9ff7-56550088370d"
            }
          ],
          "preHeading": "asd",
          "heading": "asd",
          "callToActionLink": [
            {
              "name": "Home",
              "udi": "umb://document/d3a0c7bf67ab4a50bd1eb4bba8fa6188"
            }
          ]
        }
      ],
      "variants": []
    }
  ]
}]]></Value>
    </block1>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLinks>
      <Value><![CDATA[]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "190f0854-3907-490e-a116-370ce01ec197",
    "mediaKey": "a0a8d981-58ba-4f2d-80a4-9adea9487494"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[latest blog post]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>