<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1e2ab90-adae-47da-8429-373d41de38ca" Alias="Latest Blog" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/LatestBlog</Path>
    <Trashed Parent="d3a0c7bf-67ab-4a50-bd1e-b4bba8fa6188">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-02T15:48:28</CreateDate>
    <NodeName Default="Latest Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aca43fe3-64b9-4378-90ad-7f25443dd281">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7e86dbbd-0d0f-49d5-97dd-ee2c5ead6db1",
    "mediaKey": "97cc8496-4aed-4309-8130-691408932ff0"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Latest]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>