<?xml version="1.0" encoding="utf-8"?>
<Content Key="857c611a-bf52-4721-99e4-f0c432b44e11" Alias="Most popular Blog" Level="3">
  <Info>
    <Parent Key="a5ae4bef-17b3-4edf-9986-1e67c6b735a9">Blog</Parent>
    <Path>/Home/Blog/MostPopularBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>mostPopular</ContentType>
    <CreateDate>2022-09-02T17:07:39</CreateDate>
    <NodeName Default="Most popular Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="13733667-7fe7-4e5a-91f9-26553df8520d">MostPopular</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLinks>
      <Value><![CDATA[]]></Value>
    </footerSocialLinks>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/62956eeddcc54c58ad0d9119360bac7c",
        "settingsUdi": "umb://element/457ef12b6b5b4a7eb27886a141befa9a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9ac0d357-dcea-4b5d-96b7-c229cfc23ffc",
      "udi": "umb://element/62956eeddcc54c58ad0d9119360bac7c",
      "content": "<p>This is for test purpose. </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "96465527-3cea-44a1-8304-5fb3b793a865",
      "udi": "umb://element/457ef12b6b5b4a7eb27886a141befa9a",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "910cb1c6-dd18-42c0-a934-9508a2146375",
    "mediaKey": "10471ad4-b91b-4164-adb5-7dfa0fdc94ff"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This is subtitle]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Ths is title]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>