
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MostPopular>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

@* 
//This is the method of passing the body text 
<main class="mb-4">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				@Model.BodyText
			</div>
		</div>
	</div>
</main> *@
@* //This method is done by using Models and Data types: [BlockList] Main Content 
	This is efficient one
*@
<main class="mb-4">
	<div class="container px-4 px-lg-5">
		@Html.GetBlockListHtml(Model.MainContent)
	</div>
</main>