@using Perplex.ContentBlocks.Rendering;
@model IContentBlockViewModel<Block2>


   <h1> BLock 2 </h1>
    <div class="container">
        <div class="masthead-subheading">@Model.Content.Title</div>
        <div class="masthead-heading text-uppercase">@Model.Content.SubTitle</div>       
    </div>
